.err-main {
    height: 100vh;
}

.err-main > * {
    display: inline-block;
    margin-left: 1em;
}

.err-main p {
    margin-left: 1.2em;
}

/* Router Link button */
.err-main > a {
    text-decoration: none;
    padding: 0.5em;
    background: #fff5e1;
    border: 2px solid black;
    border-radius: 5%;
    margin-left: 1.3em;
}

.err-main img {
    position: absolute;
    width: 30vw;
    right: 1em;
    bottom: 1em;
}

@media only screen and (max-width: 600px) {
    .err-main img { /* center img on smaller screens */
        left: 0;
        right: 0;
        margin: auto;
    }
  }