/* Main Footer */
footer {
    background-color: #98fb97;
    max-height: 3.5em;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 99%;
    bottom: 0;
}


/* Other wrapper */
.other-wrapper {
    margin-right: auto;
}

/* Other Text */
footer p {
    display: inline-block;

    padding-right: 10px;
    margin: 0.5em;
}

/* Logo */
footer h2 {
    font-style: italic;
    text-shadow: 2px 2px 5px #2e2bd4;
    margin: 0.6em;
    
}
