/* Main header */
header {
    background-color: #e6e6fa;
    max-height: fit-content;
    padding: 0px 15px;

    display: flex;
    align-items: center;
}

/* Logo */
header h2 {
    text-shadow: 2px 2px 5px #2e2bd4;
    font-style: italic;
}



/* Button Wrapper */
.button-wrapper { 
    margin-left: auto; /* align buttons right */
}

/* Router Link buttons */
header a {
    text-decoration: none;
    padding: 0.5em;
    background: #fff5e1;
    border: 2px solid black;
    border-radius: 5%;
    margin: 0.5em;
}

header a:link {
    color: blue;
}
header a:hover {
    text-decoration: underline;
}
header a:visited {
    color: purple;
}
